.tracker-card {
    display: flex;
    justify-content: center;
    width: 100%;
}

th {
    background-color: #052767;
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 500px;
}

th, td {
    border: 1px gray solid;
    text-align: center;
    padding: 5px;
}

table button {
    border: none;
    background-color: #1056d8;
    color: white;
    border-radius: 15px;
    padding: 5px;
}

ul {
    display: flex;
    justify-self: center;
    padding: 15px;
    flex-direction: column;
}

li {
    list-style: none;
    text-align: center;

}

@media screen and (max-width: 640px) {
    table {
        display: grid;
        grid-template-columns: 3fr;
        width: 100%; 
        max-width: none;
    }

    thead, tbody, tr {
        display: contents;
    }

    th, td {
        display: block;
        border: 1px gray solid;
        padding: 5px;
    }
}

.dates {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.dates button {
    border: none;
    border-radius: 5px;
    background-color: #1056d8;
}

.cal-total {
    justify-self: center;
    padding: 10px;
}