@page "/tracker"
@attribute [Authorize]

<PageTitle>Meal Tracker</PageTitle>

<h1>Meal Tracker</h1>

<div class="tracker-card">
    <table>
        <tbody>
            <tr>
                <th>Breakfast</th>
                <td>(Breakfast food)</td>
                <td>(Calorie Amount)</td>
            </tr>
            <tr>
                <th>Lunch</th>
                <td>(Lunch food)</td>
                <td>(Calorie Amount)</td>
            </tr>
            <tr>
                <th>Dinner</th>
                <td>(Dinner food)</td>
                <td>(Calorie Amount)</td>
            </tr>
            <tr>
                <th>Snacks</th>
                <td>(Snack food)</td>
                <td>(Calorie Amount)</td>
            </tr>
        </tbody>
    </table>
</div>